doctype html
html(lang='pt-br')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#242424') 
    meta(name='description', content='Curriculo de Bruno Alves da Silva, Desenvolvedor Front-End localizado em São Paulo.')
    meta(name='author', content='Bruno Alves')
    meta(name='keywords', content=keywords)
    title Bruno Alves da Silva

    link(rel='stylesheet', href='assets/css/main.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    .container
      header
        h1 Bruno Alves da Silva
        h2 Desenvolvedor Front End & Web Designer
        .social-links
          ul
            li
              i.fa.fa-map-marker
              a(href="#") Tatuapé - São Paulo, SP
            li
              i.fa.fa-phone
              span Telefone: 
              a(href="#") (11) 95347-5827
            li
              i.fa.fa-envelope
              span E-mail: 
              a(href="#") brunoalv.s@outlook.com
            li
              i.fa.fa-link
              span Site: 
              a(href="#") https://brunoalves.info
            li
              i.fa.fa-github
              span GitHub: 
              a(href="#") http://github.com/brunoalv-s
            li
              i.fa.fa-linkedin
              span LinkedIn: 
              a(href="#") https://linkedin.com/in/brunoalvs
      hr

      section.xp
        h3 Experiências
        
        .job
          header.job-header
            p
              span.job-role Desenvolvedor Front End 
              | - 
              span.job-name Tipo Publicidade
            p.date-job 09.2016 / 02.2017
              
          .content
            p - Gerar iniciativas de inovação, realizar análises e pesquisas no desenvolvimento de propostas de novas tecnologias, aplicando no workflow atual da empresa;
            p - Otimização de sites e aplicação de técnicas SEO;
            p - Construção de sites institucionais (HTML5, CSS3, SASS, Gulp);
            p - Prototipação e desenvolvimento de Interfaces para novos sites e portais de clientes;
            p - Manutenção e Construção de sites dinâmicos (wordpress, opencart) e desenvolvimento de novas funcionalidades personalizadas para os clientes;

        .job
          header.job-header
            p
              span.job-role Desenvolvedor Front End 
              | - 
              span.job-name Notify-E
            p.date-job 06.2016 / 08.2016
              
          .content
            p - Gerar iniciativas de inovação, realizar análises e pesquisas no desenvolvimento de propostas de novas tecnologias, aplicando no workflow atual da empresa;
            p - Otimização de sites e aplicação de técnicas SEO;
            p - Construção de sites institucionais (HTML5, CSS3, SASS, Gulp);
            p - Prototipação e desenvolvimento de Interfaces para novos sites e portais de clientes;
            p - Manutenção e Construção de sites dinâmicos (wordpress, opencart) e desenvolvimento de novas funcionalidades personalizadas para os clientes;

        .job
          header.job-header
            p
              span.job-role Desenvolvedor Web 
              | - 
              span.job-name Net Embalagens
            p.date-job 06.2015 / 02.2016
              
          .content
            p - Gerar iniciativas de inovação, realizar análises e pesquisas no desenvolvimento de propostas de novas tecnologias, aplicando no workflow atual da empresa;
            p - Otimização de sites e aplicação de técnicas SEO;
            p - Construção de sites institucionais (HTML5, CSS3, SASS, Gulp);
            p - Prototipação e desenvolvimento de Interfaces para novos sites e portais de clientes;
            p - Manutenção e Construção de sites dinâmicos (wordpress, opencart) e desenvolvimento de novas funcionalidades personalizadas para os clientes;

      section.courses
        h3 Cursos e Formação
        
        .curso
          p.curso-name SVG do Início ao Avançado
          p.curso-foundation Willian Justen Cursos
          p.date-job 04.2016
            
        .curso
          p.curso-name Google Mobile Day
          p.curso-foundation Think with Google
          p.date-job 05.2015
          
        .curso
          p.curso-name Google Expert Training Day - AdWords
          p.curso-foundation Think with Google
          p.date-job 05.2014
          
        .curso
          p.curso-name Desenvolvimento de Sites e Sistemas para Internet
          p.curso-foundation Centro Estadual de Educação Tecnológica Paula Souza - ETEC São Mateus
          p.date-job 2012 - 2013
        
      section.skills
        h3 Habilidades
        nav.skills-list
          section.front
            h4 Front-End
            ul
              li HTML5 (Pug)
              li CSS3 (Sass, Stylus e LESS)
              li JavaScript
              li JQuery
              li Gulp
              li Git
              li SEO
              li Google Analytics
          section.design
            h4 Design
            ul
              li Adobe XD
              li Photoshop
              li Illustrator
              li Fireworks
              li Figma
              li Gravit
              li InvisionAPP
        
      section.languages
        h3 Idiomas
        .idioma
          p.language-name Português
          p.language-nivel Nativo ou Fluente

        .idioma
          p.language-name Inglês
          p.language-nivel Técnico
