.container > header h1 {
  font-size: 38px;
  text-transform: uppercase;
}
.container > header h2 {
  font-size: 20px;
}
.container > header > .social-links {
  margin: 1em 0;
}
.container > header > .social-links ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container > header > .social-links ul li {
  margin-top: 0.5em;
  margin-right: 1em;
  list-style: none;
}
.container > header > .social-links ul li > .fa {
  margin-right: 0.5em;
}
.container > header > .social-links ul li > a {
  color: $green;
}
.container > hr {
  margin: 1em 0;
}
