.languages {
  display: flex;
  flex-wrap: wrap;
}
.languages > h3 {
  width: 100%;
  display: block;
}
.languages > .idioma {
  flex-basis: 50%;
}
.languages > .idioma > .language-name {
  font-weight: bold;
  color: $blue;
}
.languages > .idioma > .language-name::before {
  content: '\f105';
  font-family: FontAwesome;
  margin-right: 0.5em;
}
