* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
* > h3 {
  color: $red;
  margin-top: 1em;
  margin-bottom: 0.2em;
}
* > h3::before {
  content: '[';
}
* > h3::after {
  content: ']';
}
* > a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0.5em;
}
